<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <p>Dear user,</p>
    <p>You've requested to reset your password. Please follow the link below to reset your password:</p>
    <p><a href="{{ resetLink }}">Reset Password</a></p>
    <p>Your reset token is: {{ resetToken }}</p> <!-- Hiển thị resetToken -->
    <p>If you didn't request this change, you can safely ignore this email.</p>
    <p>Best regards,</p>
    <p>Your Application Team</p>
</body>
</html>
